<div class="footer">
  <div class="row">
    <div class="col-sm-3">
      <h2><strong>Kingpin</strong></h2>
      <a href="/membership">
        <h3><span>Medlemskap</span></h3>
      </a>
      <a href="/schedule">
        <h3><span>Schema</span></h3>
      </a>
      <a href="/kingpin-kids">
        <h3><span>Kingpin kids</span></h3>
      </a>
      <a href="/contact">
        <h3><span>Kontakt</span></h3>
      </a>
      <a href="/about">
        <h3>Om Kingpin</h3>
      </a>
      <a href="/faq">
        <h3>Vanliga frågor</h3>
      </a>
    </div>
    <div class="col-sm-3">
      <h3>Hitta hit</h3>
      <p>Grännavägen 24, 561 34 Huskvarna <br> Ingång sker via Engelbrektsgatan. <br>
        <br> <a href="/contact">
          <h3>Kontakt</h3>
        </a>
        <p><i class="bi bi-telephone-fill" style="font-size: 1.3rem;"></i> +46703401360 <br>
          <i class="bi bi-envelope-fill" style="font-size: 1.3rem;"></i>
          <a href="mailto:info@kingpingrappling.se" style="font-size: 1rem; color: black;">
            info@kingpingrappling.se
          </a>
        </p>
        <a href="https://www.facebook.com/kingpingrappling.se/">
          <i class="bi bi-facebook" style="font-size: 2rem;"></i>
        </a>
        <a href="https://www.instagram.com/kingpingrappling/">
          <i class="bi bi-instagram" style="margin-left: 10px; font-size: 2rem; color:#fb3958"></i>
        </a>
      </div>
    <div class="col-sm-6">
      <agm-map [zoom]="12" [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng">
          <agm-info-window [isOpen]="true">
            <b id="infowindow">Kingpin Grappling</b>
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>
