.footer {
  position: relative;
  right: 0;
  bottom: 1rem;
  left: 0;
  overflow: hidden;
  text-align: center;
}

hr{
  width: 70%;
  margin: 2rem auto 2rem;
}


h5,h6{
  color: #000;
}

a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: black;
}

#infowindow{
  color: black !important;
}

agm-map {
  float: right;
  height: 20rem;
  width: 90%;
}

@media only screen and (max-width: 576px) {
  #col-2{
   margin-top: 1.5rem;
 }
}
