.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, white, 85%, #343a40);
  overflow: hidden;
  text-align: center;
}

a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: black;
}
h3{
  color: black;
}

#infowindow{
  color: black !important;
}

agm-map {
  float: right;
  height: 350px;
  width: 100%;
}
