
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/kingpin_logo.jpg" alt="" width="50">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/">Medlemskap</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/membership">Träningsschemat</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact">Kontakt</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/KingpinKids">Kingpin Kids</a>
                </li>
                
                <li class="nav-item dropdown" ngbDropdown>
                    <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                        Om KingPin
                    </a>
                    <ul class="dropdown-menu"  ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                        <li ngbDropdownItem><a  class="dropdown-item" href="/about">Om oss</a></li>
                        <li ngbDropdownItem><a  class="dropdown-item" href="/about">Våra Värderingar</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" href="/about">Våra Inriktningar</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" href="/about">Om Kingpin kids</a></li>
                        <li ngbDropdownItem><a class="dropdown-item" href="/about">Träningslokalen</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>