<nav class="navbar navbar-expand-lg navbar-light justify-content-end" style="background-color: #ffffff;">
    <div class="container-fluid" style="background-color: #ffffff;">
        <a class="navbar-brand" id="hoverable" href="home"><img src="assets/kingpin_logo.jpg" alt="" width="70"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-flex">
            <div class="collapse navbar-collapse " id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 300px;">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="/membership">Medlemskap</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/schedule">Schemat</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Kontakt</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/KingpinKids"> Kids</a>
                    </li>
                    
                    <li class="nav-item dropdown" >
                        <a class="nav-link" id="hoverable" href="/about">Om oss</a>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</nav>
