<div class="header">
    <div class="row">
        <div class="col">
            <div class="hero-text">   
                <div class="bottomdiv">
                    <div class="hero-text">   
                        <h1><strong>Välkommen Till</strong></h1>
                        <h1><strong>KINGPIN GRAPPLING</strong></h1>
                        <a href="/about" class="btn btn-primary stretched-link" style="position: relative;">Mer Om Oss</a> 
                    </div>
                 </div>     
            </div>
        </div>   
        <div class="col">
            <!-- 
              <video autoplay  [muted]="true" loop  >
                <source src="assets/homeHeader.mp4" type="video/mp4"/>
            </video>  
            -->
            <img src="assets/fightSkiss.gif" alt="">
        </div>    
    </div>
</div>  

