<!---
<div class="header">
    <div class=" position-absolute top-50 start-50 translate-middle w-75">
        <div class="row g-0"> 
            <div class="col-md-4">
                <img src="assets/fightSkiss.gif" alt="">
            </div>          
            <div class="col-md-8">
                <div class="card-body">
                    <div class="bottomdiv">
                        <div class="hero-text">   
                            <h1><strong>Välkommen Till</strong></h1>
                            <h1><strong>KINGPIN GRAPPLING</strong></h1>
                            <a href="/about" class="btn btn-primary stretched-link" style="position: relative;">Mer Om Oss</a> 
                        </div>
                    </div>  
                </div>
            </div>
            
        </div>
    </div>
</div>


<div class="header-unit">
    <div id="img-container">
        <div class="hero-text">
            <h1 > KINGPIN KIDS</h1>
            <h2> Ett Bättre Jag Ett Bättre Vi </h2>
        </div>
        <div id="kingpin-kids"> </div>
    </div>
</div>
  

-->


<div class="card bg-dark text-white">
    <img src="assets/homeHeader.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <div class="bottomdiv">
            <div class ="card-body ">   
                <h1><strong>Välkommen Till</strong></h1>
                <h1><strong>KINGPIN GRAPPLING</strong></h1>
                <a href="/about" class="btn btn-primary stretched-link " style="position: relative;">Mer Om Oss</a> 
            </div>
        </div>  
    </div>
  </div>