h2 {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -1px;
  background: #FFFFFF;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}

h2 span {
   background:#fff;
   padding:0 10px;
}

.container{
  font-size: 20px;
}

.jumbotron{
  background: none;
}

button{
  font-weight: 900;
  border: none;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

button:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
