.container{
  max-width: 60rem;
  margin-top: 2rem;
}

.card{
  border: none;
  height: 392px;
}

.card-body{
  visibility: hidden;
}

img{
  margin: auto;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  transition: box-shadow .8s, width .8s, height .8s;
}

img:hover{
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;  width: 16rem;
  height: 16rem;
  width: 16rem;
}

img:hover + div.card-body{
  visibility: visible;
  transition-delay: 0.25s;
}

h5{
  font-weight: 900;
}

p{
  font-size: 1rem;
  font-weight: 600;
}
