<div class="text-center">
    <div class="card-header">
        <h2>INFO OM KINGPIN KIDS</h2>
    </div>
</div>



<div class="card" id="intro">
    <div class="card-body">
        <div class="text-center">
           <h2 class="card-title">KINGPIN GRAPPLING</h2> 
        </div>
        
        <h5 class="card-subtitle mb-2 text-muted">En modern grapplingklubb med fokus på glädje, gemenskap och respekt.</h5>
        <p class="card-text">Kingpin Kidsgruppen är anpassad för barn i låg-, mellan och en bit in på högstadiet där vi introducerar och utvecklar kampsporten i form av lekar, motoriska övningar, fallteknik samt positionsbrottning på marken. Kids tränar torsdagar och söndagar.

            Kingpin Kids Jr tränar söndag förmiddag. På passen deltar barn och förälder tillsammans för att barnen ska kunna utvecklas i sin egen takt med en person som de är trygga med vid sin sida. Fokus ligger på att ha roligt och att leka fram lärandet.
            
            BRA ATT VETA!
            
            Alla pass i Kidsgruppen sker utan föräldrars närvaro, detta av utrymmesskäl men framförallt för att barnen lättare kan koncentrera sig utan mamma eller pappa på plats!
            
            För de allra minsta i Kids jr-gruppen är föräldrar med och deltar under passet.
            KONTAKT
            Kingpin kids
            </p>
    </div>
</div>



