<div class="container text-center">
  <h2 class="margin"><span>Träning</span></h2>
  <div class="row">
    <div class="col-sm">
      <div class="jumbotron">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem *ngFor="let exercise of exercises; index as i">
            <a ngbNavLink>{{exercise.name}}</a>
            <ng-template ngbNavContent>  <img src="{{exercise.imgPath}}" class="card-img-top" alt="image of exercise">
              <div>
                <h3>{{exercise.name}}</h3>
                <p>{{exercise.content}}</p>
              </div>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
    <div class="col-sm">
      <table class="table table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">VECKODAG</th>
            <th scope="col">TRÄNINGSPASS</th>
            <th scope="col">TID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let week of schedule$; index as i">
            <th scope="row">{{week.weekday}}</th>
            <td>
              <p *ngFor="let exercise of week.events.exercise">
                {{exercise}}
              </p>
            </td>
            <td>
              <p *ngFor="let time of week.events.time">
                {{time}}
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>



