
.card{
    
    max-width: 75%;
    margin: auto;
    margin-top:120px;
    margin-bottom: 75px;
    border-radius:25px;
    border-color: white;

}


.accordion {
    max-width: 75%;
    margin: auto;
    margin-bottom: 50px;
    box-shadow: 0px 7px 30px rgba(64, 72, 228, 0.308);  
    border-color: white;

}

.accordion-item{
    border-color: white;

}

h1{
    font-family: Comic Sans MS;
}