    

<div class="card">
    <div class="card-body">
        <div class="text-center">
           <h2 class="card-title">KINGPIN GRAPPLING</h2> 
        </div>
        
        <h5 class="card-subtitle mb-2 text-muted">En modern grapplingklubb med fokus på glädje, gemenskap och respekt.</h5>
        <p class="card-text">Vi tränar Brasiliansk Jiu-Jitsu (BJJ) med och utan gi. Här blir du instruerad av mycket erfarna och meriterade instruktörer i en trygg och utvecklande miljö. Klubben har 7&nbsp;aktiva svartbälten vilket gör oss unika i Småland, bara storstäderna kan matcha det!</p>
    </div>
</div>

      
    
    
