<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="jumbotron">
        <h2>Om Kingpin</h2>
        <p>
          Kingpin är en ideell förening som är ansluten till Riksidrottsförbundet, Svenska Budo & Kampsportsförbundet,
          Svenska Submission Wrestling Förbundet och Svenska Brasiliansk jiu-jitsu Förbundet. Vi har ORG.NR:
          802503-5802.
        </p>
        <p>
          Vi tränar Brasiliansk Jiu-Jitsu (BJJ) med och utan gi. Här blir du instruerad av mycket erfarna och meriterade
          instruktörer i en trygg och utvecklande miljö. Klubben har 7 aktiva svartbälten vilket gör oss unika i
          Småland, bara storstäderna kan matcha det!
        </p>
        <p>
          <em>Välkommen!</em>
        </p>
      </div>
    </div>
    <div class="col-sm-6" id="omoss-picture">
      <img src="../../assets/omoss.jpg" alt="omoss bild">
    </div>
  </div>
</div>

<app-varderingar></app-varderingar>
