<h1 class="display-1">Välkommen Till </h1>
<h1 class="display-1">KINGPIN GRAPPLING</h1>


<div class="card">
    <div class="card-body">
        <div class="text-center">
           <h2 class="card-title">KINGPIN GRAPPLING</h2> 
        </div>
        
        <h5 class="card-subtitle mb-2 text-muted">En modern grapplingklubb med fokus på glädje, gemenskap och respekt.</h5>
        <p class="card-text">
            Kingpin är en ideell förening som är ansluten till Riksidrottsförbundet, Svenska Budo & Kampsportsförbundet, Svenska Submission Wrestling Förbundet och Svenska Brasiliansk jiu-jitsu Förbundet. Vi har ORG.NR: 802503-5802.
            Föreningen bedriver sin verksamhet enligt svensk idrotts idéprogram Idrotten vill vilken står för Glädje och gemenskap, Demokrati och delaktighet, Allas rätt att vara med och Rent spel.
            Vi tränar Brasiliansk Jiu-Jitsu (BJJ) med och utan gi. Här blir du instruerad av mycket erfarna och meriterade instruktörer i en trygg och utvecklande miljö. Klubben har 7 aktiva svartbälten vilket gör oss unika i Småland, bara storstäderna kan matcha det!
            Glädje, respekt för varandra och gemenskap är starka drivkrafter hos oss och vi bedriver och utvecklar vår verksamhet för att kunna ha roligt, må bra och prestera mera. Vi har träning året runt och utöver detta arrangerar vi seminarium, läger, klubbaktiviteter och deltar i tävlingar.
            Våra instruktörer och vårt träningsupplägg medför att nybörjare mycket snabbt lär sig grunderna och utvecklas i rätt takt samtidigt. Mer erfarna utövare bygger vidare på de grunder de har och utmanas i att utforska och hitta sin stil. Vårt mål är att du ska bli komplett utifrån de förutsättningar du har samtidigt som du hittar det sätt att köra på som passar dig bäst!
            Oavsett vilka mål du än har med din träning kommer vi göra allt för att se till att de uppfylls.
        </p>
    </div>

</div>

      
    
    
<div class="accordion " id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <h3>VÅRT UPPLÄGG</h3>
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <h5 class="card-subtitle mb-2 text-muted">"Alla vägar bär till Rom"</h5>
                <p>
                    Vi tror att alla efterhand hittar sin väg när det gäller att utvecklas men att man i början har stor hjälp av få till grunderna rätt. Stor vikt och fokus läggs således initialt på att alla ska känna sig trygga inom det som kallas för Fundamentals eller Basics. Försvar och escapes från alla positioner ska sitta i ryggmärgen.<br> Ju längre du håller på desto friare kommer du bli i din utveckling.
                    <br>Vi använder oss av ett varierat utbud för att utvecklas men håller alltid en röd tråd i vårt upplägg.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h3>VÅRA INSTRUKTÖRER</h3>
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">

            <div class="accordion-body">
                <h5 class="card-subtitle mb-2 text-muted">"Sju activa bälte"</h5>
                Instruktörerna i klubben har alla lång och gedigen tränarerfarenhet. Alla har varit och många är fortfarande tävlingsaktiva med meriter från både nationella och internationella tävlingar.
                <br>Stor vikt läggs vid pedagogiska färdigheter och förmåga att lära ut. I tränarstaben utvärderas vi kontinuerligt av varandra och ger konkret feedback för att bli bättre i vår roll som instruktör.
                <br>Alla tränare träffas regelbundet och arbetar ständigt för att utvärdera det vi gör samt om det behövs förbättra träningsupplägg och innehåll. <br>Vi söker alla aktivt kunskap och besöker gärna seminarier, läger etc. som hålls av andra klubbar. 
            </div>
        </div>
    </div>
</div>