
<div class="text-center">
    <div class="card-header">
      <h2>VÅR LOKAL</h2>
    </div>
    
</div>

<div class="card">
    <div class="card-body">
        <h2>VÅR TRÄNINGSLOKAL</h2>
        <p class="card-text">Vi håller till i Junex Träningsfabriks fräscha och nyrenoverade lokaler i Junexhuset . 
            <br>Vårt samarbete med dem innebär att du kan komplettera din träning med både instruktörsledda och fria pass:
        </p>
        <ol class="list-group  list-group-numbered list-group-flush">
            <li class="list-group-item">Funktionella träningsytor med ringar och rep</li>
            <li class="list-group-item">Träningsytan är ca 200 kvm och du har tillgång till omklädningsrum med förvaringsskåp, dusch och bastumöjligheter.</li>
            <li class="list-group-item">TrX</li>
            <li class="list-group-item">Fullt utrustat gym med fria vikter, hantlar, kettlebells, skivstänger och bänkar</li>
            <li class="list-group-item">Löpband, crosstrainers, roddmaskiner och cyklar</li>
        </ol>
    </div>
    <div id="carousel" class="w-100 h-50">
        <div class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1500">
                <img src="assets/background.jpg" class="d-block w-100 h-100" alt="assets/background.jpg">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
                <img src="assets/glädje.jpg" class="d-block w-100 h-100" alt="assets/background.jpg">
            </div>
            <div class="carousel-item" data-bs-interval="1500">
                <img src="assets/BJJ.jpg" class="d-block w-100 h-100" alt="assets/background.jpg">
            </div>
            </div>
        </div>
    </div> 
</div>

