
<div class="text-center">
    <div class="card-header">
      <h2>VÅR LOKAL</h2>
    </div>
    
</div>

<div id="carouselExampleIndicators" class="carousel slide carousel-fade w-50 h-50" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={{images[0]}} class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src={{images[1]}} class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src={{images[0]}} class="d-block w-100" alt="...">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="card">
    <div class="card-body">
        <h2>VÅR TRÄNINGSLOKAL</h2>
        <p class="card-text">Vi håller till i Junex Träningsfabriks fräscha och nyrenoverade lokaler i Junexhuset . 
            <br>Vårt samarbete med dem innebär att du kan komplettera din träning med både instruktörsledda och fria pass:
        </p>
        <ol class="list-group  list-group-numbered list-group-flush">
            <li class="list-group-item">Funktionella träningsytor med ringar och rep</li>
            <li class="list-group-item">Träningsytan är ca 200 kvm och du har tillgång till omklädningsrum med förvaringsskåp, dusch och bastumöjligheter.</li>
            <li class="list-group-item">TrX</li>
            <li class="list-group-item">Fullt utrustat gym med fria vikter, hantlar, kettlebells, skivstänger och bänkar</li>
            <li class="list-group-item">Löpband, crosstrainers, roddmaskiner och cyklar</li>
        </ol>
    </div>
    
</div>


  
