/* You can add global styles to this file, and also import other style files */
html,body {
  position: relative;
  padding:0;
  height:100%;
  
}

h1 , .card-header h2{
  color: rgba(244,88,110,1);
}
.container{
  min-height: 100%;
}

