<app-home-header></app-home-header>



<div class="container" id="värderingar">
  <div class="row">
    <div class="col-6 my-auto">
      <div class="card-body">
        <div class="text-center">
          <h1>Våra Värderingar</h1>
        </div> 
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quam consequatur veniam quos voluptates, nobis itaque voluptas nesciunt alias cupiditate quas a dolorem, officia aliquid aperiam, in vero repudiandae cumque.
        </p>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">GLÄDJE</h4>
          <p class="card-text">För att utvecklas måste man ha roligt och är därför en röd tråd genom alla våra träningspass</p>
          <img src="assets/glädje.png" class="card-img">
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">GEMENSKAP</h4>
          <p class="card-text">Hos oss stärker vi varandra för att nå våra mål.</p>
          <img src="assets/gemenskap.png"  class="card-img">
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">RESPEKT</h4>
          <p class="card-text">Olika är bra. Respekt är en stark drivkraft i vår verksamhet där alla ska känna sig hörda.</p>
          <img src="assets/respekt.png" class="card-img">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="bar mx-auto " id="numberBox">
  <table class="tb mx-auto text-center">
    <thead>
      <tr>
        <th scope="col">Kids Medlemmar</th>
        <th class="middleElemnt" scope="col">Alla Medlemmar</th>
        <th scope="col">Tränare</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>40st</td>
        <td class="middleElemnt">150st</td>
        <td>30st</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Kingpin Kids</h4>
          <p class="card-text">Letar du efter en aktivitet som utvecklar dina barn från många håll.</p>
          <div class="text-end">
            <a href="/KingpinKids" class="btn btn-primary text-end">Gå Till Kingpin Kids</a>
          </div> 
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Om Oss</h4>
          <p class="card-text">Läs om våra inriktningar, träningslokal, varderingar.</p>
          <div class="text-end">
            <a href="/KingpinKids" class="btn btn-primary text-end">Gå Till Om Oss</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Vanliga Frågor</h4>
          <p class="card-text">Vi har samlat svar på era vanligaste frågor.</p>
          <div class="text-end">
            <a href="/faq " class="btn btn-primary text-end">Gå Till Vanliga frågor</a>
          </div>  
        </div>
      </div>
    </div>
    <div class="col-6 my-auto">
      <div class="card-body">
        <div class="text-center">
          <h1>Vad är vår syfte</h1>
        </div> 
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quam consequatur veniam quos voluptates, nobis itaque voluptas nesciunt alias cupiditate quas a dolorem, officia aliquid aperiam, in vero repudiandae cumque?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat exercitationem excepturi inventore eligendi? Ratione illo ut a omnis, minima veritatis facilis maiores illum iste hic, deserunt, maxime tenetur quis consectetur.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi reprehenderit a, expedita impedit corrupti aspernatur esse tempora animi, quam, porro assumenda minus fuga! Nulla, exercitationem nobis? Aliquid voluptatibus iste voluptate.
        </p>
      </div>
    </div>
  </div>
</div>



<div class="container" id="instagram">
  <div class="instagram "> 
    <h1> <img src=" assets/instagram-seeklogo.svg">Instagram</h1>
    <h3> <a href="https://www.instagram.com/kingpingrappling/"  target="_blank"> Följ Oss På Instagram</a></h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 w-100">
      <div class="col mx-auto" >
        <div class="card ">
          <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
            <img src="assets/NOGISW.jpg" class="card-img-top">
          </a>  
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>  
      </div>
      <div class="col" >
        <div class="card ">
          <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
            <img src="assets/NOGISW.jpg" class="card-img-top">
          </a>  
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col" >
        <div class="card ">
          <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
            <img src="assets/NOGISW.jpg" class="card-img-top" >
          </a>  
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col" >
        <div class="card ">
          <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
            <img src="assets/NOGISW.jpg" class="card-img-top" >
          </a>  
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col" >
        <div class="card ">
          <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
            <img src="assets/NOGISW.jpg" class="card-img-top" >
          </a>  
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ">
          <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
            <img src="assets/NOGISW.jpg" class="card-img-top" >
          </a>  
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


