body{
  box-sizing: border-box;
  padding: .5rem 1rem;
}
div.instagram .card{
  margin-right:10px;
  transition: transform 0.8s;
  min-width: 300px;
  max-width: 500px;
  max-height: 460px;
  margin: auto;
  box-shadow: 0px 7px 30px rgba(175, 149, 174, 0.699);
}

div.instagram .card:hover{
  transform: rotate(-5deg) scale(1.1);
  margin: auto;
  box-shadow: 0px 7px 30px rgba(194, 176, 193, 0.699);
}


.col-6{
  min-width: 375px;
}

.col{
  padding-top: 5%;
}


.container {
  min-height:950px;
  padding-top: 9%;
}

.col-4{
  min-width: 250px;
  max-width: 50%;
}

.col-4 .card {
  border-radius:12px 0px 0px 12px;
  border-width: 2px 0px 2px 3px;
  border-style: solid;
  border-color: blue;
  margin-top:15px;
  box-shadow: 0px 7px 30px rgba(216, 208, 216, 0.699);
  max-height:500px;
  display: block;
  word-wrap: break-word;
}


.bar{
  height:120px;
  height:120px;
  width:100%;
  width:100%;
  background-color:aliceblue;
  background-color:white;
  margin-top: 16px;
  margin-top: 60px;
  margin-bottom: 40;
  max-width: 850px;
  justify-content: center;
  justify-content: center;

  border-top-color: 7px rgba(48, 47, 48, 0.439); 

  align-self: center;
  position: relative;
}

.tb{
  width:50%;
}

td{
  font-size:20px;
  padding:12px;
  font-style: Comic;
}

th{
  font-size:20px;
  font-size:20px;
  padding:12px;
  padding:12px;
}

.middleElemnt{
  border-color:white;
  border-left-width: 2;
  border-right-width: 2;
}

img{
  padding:7px;
}

h1 img {
  max-width: 100px;
}
h1{
  font-size:60px;
}
a{
  transition: .8s ease;
  border-radius: 10px;
}

a:hover{
  background-color: white;
  color:blue;
}

div.instagram{
  margin-bottom: 150px;
}

h1{
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
}

p{
  font-family: 'KoHo', sans-serif;
  font-size:18px;
}

h4{
  font-size: 24px;
  line-height: 36px;
  color: #1D3547;
  margin-bottom: .5rem;
  font-weight: 600;
}

#värderingar img{
  max-width: 90px;
}

#värderingar .card{
  border-width: 2px 3px 2px 0px;
  border-style: solid;
  border-color: blue;
  border-radius:0px 12px 12px 0px;

}


@media only screen and (max-width: 800px) {
  .container {
    min-height: 1400px;
  }
  .col-6{
    width: 100%;
  }
  .col-4{
    width: 100%;
  }

  div.instagram .card{
    min-width: 95px;
    max-width: 150px;
    max-height: 200px;
  }
  div.instagram .col{
    min-width: 95px;
    max-width: 50%;
    max-height: 200px;
  }

  #instagram  {
    min-height: 1000px;
  }
}