<app-home-header></app-home-header>

<div class="bar">
  <table class="tb mx-auto text-center">
    <thead>
      <tr>
        <th scope="col">Kids Medlemmar</th>
        <th class="middleElemnt" scope="col">Alla Medlemmar</th>
        <th scope="col">Tränare</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>40st</td>
        <td class="middleElemnt">150st</td>
        <td>30st</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="card-group">
  <div class="card">
    <img src="assets/gemenskap.jpg" class="card-img-top" >
    <div class="overlay ">
      <h5 class="card-title">Om Oss</h5>
      <a href="/about">Läs om våra inriktningar, träningslokal, varderingar.</a>
    </div>
  </div>
  <div class="card">
    <div class="overlay  ">
      <h5 class="card-title">Vanliga Frågor</h5>
      <a href="/faq">Vi har samlat svar på era vanligaste frågor.</a> 
    </div>
    <img src="assets/gemenskap.jpg" class="card-img-top" >
    
  </div>
  <div class="card">
    <div class="overlay">
      <h5 class="card-title">Kingpin Kids</h5>
       <a href="/KingpinKids">Letar du efter ett en aktivitet som utvecklar dina barn från många håll så är det bara att trycka här. </a> 
    </div>
    <img src="assets/gemenskap.jpg" class="card-img-top" >
  </div>
</div>


<div class="instagram"> 
  <h1> <img src=" assets/instagram-seeklogo.svg"> <strong>𝐼𝓃𝓈𝓉𝒶𝑔𝓇𝒶𝓂</strong></h1>
  <h3> <a href="https://www.instagram.com/kingpingrappling/"  target="_blank"> Följ Oss På Instagram</a></h3>
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col" id="rotate10">
      <div class="card ">
        <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
          <img src="assets/gemenskap.jpg" class="card-img-top" alt="...">
        </a>  
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>  
    </div>
    <div class="col" id="rotate-30">
      <div class="card h-100">
        <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
          <img src="assets/gemenskap.jpg" class="card-img-top" alt="...">
        </a>  
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col" id="rotate-10">
      <div class="card h-100">
        <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
          <img src="assets/gemenskap.jpg" class="card-img-top" alt="...">
        </a>  
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col" id="rotate10">
      <div class="card h-100">
        <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
          <img src="assets/gemenskap.jpg" class="card-img-top" alt="...">
        </a>  
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col" id="rotate10">
      <div class="card h-100">
        <a href="https://www.instagram.com/p/CFCRUGyjL9T/" target="_blank">
          <img src="assets/gemenskap.jpg" class="card-img-top" alt="...">
        </a>  
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
